#%RAML 1.0
title: Jrf search API
baseUri: https://api.jrf.org.tw
version: 0.1
protocols: HTTPS
documentation:
 - title: Home
   content: |
    API 說明.......
types: !include types.raml

/{court_code}/{story_identity}:
  description: Retrieve a specific story
  uriParameters:
    court_code:
      type: court_code
    story_identity:
      type: story_identity
  get:
    responses:
      200:
        body:
          application/json:
            properties:
              story: story_show
      404
        body:
          application/json:
            properties:
              message: fail_messages
  /verdict:
    get:
      description: Retrieve a specific verdict of story
      responses:
        200:
          body:
            application/json:
              properties:
                verdict: Verdict
        404
          body:
            application/json:
              properties:
                message: fail_messages
  /schedules:
    get:
      description: Retrieve a schedules list of story
      responses:
        200:
          body:
            application/json:
              properties:
                schedules?: Schedule[]
        404
          body:
            application/json:
              properties:
                message: fail_messages
/search:
  /stories:
    get:
      description: Get a list of stories based on given condition
      queryParameters:
        page: 
          description: Specify the page that you want to retrieve
          type:        integer
          required:    false
          example:     1
        q[story_type]?: story_type
        q[year]?: story_year
        q[word]?: story_word
        q[number]?: story_number
        q[lawyer_names_cont]?:
          description: 相關律師姓名包含
          type: string
          example: 吳
        q[judges_names_cont]?:
          description: 相關法官姓名包含
          type: string
          example: 張惠閔
        q[adjudged_on_gteq]?:
          description: 判決日期晚於
          type: string
          example: 2009-12-01
        q[adjudged_on_lteq]?:
          description: 判決日期早於
          type: string
          example: 2009-12-31
      responses:
        200
          body:
            application/json:
              properties:
                pagination: pagination_response
                stories?: story_index[]
                status: 200
        404
          body:
            application/json:
              properties:
                message: '尚未輸入查詢條件'
